/* Colours */
/* Borders */
/* TEXT */
/* SIZES */
/* TEXT */
/* INPUTS */
/* HEADINGS */
/* LISTS */
/* TIMELINE */
/* MENU */
/* BOXES */
/* line 4, ../../scss/elements/_buttons.scss */
input[type="button"], input[type="submit"], a.btn, button {
  background: #333;
  border: 0;
  color: white;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  transition: all 0.2s;
  text-align: center;
  display: inline-block;
  min-width: 120px;
  text-decoration: none;
}
/* line 17, ../../scss/elements/_buttons.scss */
input[type="button"].btn--hollow, input[type="submit"].btn--hollow, a.btn.btn--hollow, button.btn--hollow {
  background: transparent;
  border: 1px solid #fbd9e8;
}
/* line 22, ../../scss/elements/_buttons.scss */
input[type="button"].btn--invert, input[type="submit"].btn--invert, a.btn.btn--invert, button.btn--invert {
  background: #fbd9e8;
  color: #333;
  border: 1px solid white;
}
/* line 28, ../../scss/elements/_buttons.scss */
input[type="button"].btn--block, input[type="submit"].btn--block, a.btn.btn--block, button.btn--block {
  display: block;
  width: 100%;
}
/* line 33, ../../scss/elements/_buttons.scss */
input[type="button"]:hover, input[type="submit"]:hover, a.btn:hover, button:hover {
  background: #474747;
  color: white;
}
/* line 38, ../../scss/elements/_buttons.scss */
input[type="button"].btn--smaller, input[type="submit"].btn--smaller, a.btn.btn--smaller, button.btn--smaller {
  padding: 5px;
  text-transform: none;
  font-size: 16px;
}
/* line 44, ../../scss/elements/_buttons.scss */
input[type="button"].btn--success, input[type="submit"].btn--success, a.btn.btn--success, button.btn--success {
  background: #7AB709;
}
/* line 47, ../../scss/elements/_buttons.scss */
input[type="button"].btn--success:hover, input[type="submit"].btn--success:hover, a.btn.btn--success:hover, button.btn--success:hover {
  background: #8ecb1d;
}
/* line 52, ../../scss/elements/_buttons.scss */
input[type="button"].btn--danger, input[type="submit"].btn--danger, a.btn.btn--danger, button.btn--danger {
  background: red;
}
/* line 55, ../../scss/elements/_buttons.scss */
input[type="button"].btn--danger:hover, input[type="submit"].btn--danger:hover, a.btn.btn--danger:hover, button.btn--danger:hover {
  background: #ff1414;
}
/* line 60, ../../scss/elements/_buttons.scss */
input[type="button"].btn--toolbar, input[type="submit"].btn--toolbar, a.btn.btn--toolbar, button.btn--toolbar {
  padding-top: 2px;
  padding-left: 4px;
  min-width: 0;
}
/* line 66, ../../scss/elements/_buttons.scss */
input[type="button"]:disabled, input[type="submit"]:disabled, a.btn:disabled, button:disabled {
  background: #f7f5f6;
}
/* line 69, ../../scss/elements/_buttons.scss */
input[type="button"]:disabled:hover, input[type="submit"]:disabled:hover, a.btn:disabled:hover, button:disabled:hover {
  background: #f7f5f6;
}

/* line 5, ../../scss/elements/_inputs.scss */
form div.group {
  margin-bottom: 20px;
}

/* line 10, ../../scss/elements/_inputs.scss */
input[type="text"], input[type="email"], input[type="password"], textarea, select, input[type="number"], input[type="tel"] {
  border: 1px solid #333;
  background: white;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  color: #6f6f6f;
  display: block;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 24, ../../scss/elements/_inputs.scss */
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus, select:focus, input[type="number"]:focus, input[type="tel"]:focus {
  outline-width: 0;
  border-color: #333;
}
/* line 29, ../../scss/elements/_inputs.scss */
input[type="text"].input--smaller, input[type="email"].input--smaller, input[type="password"].input--smaller, textarea.input--smaller, select.input--smaller, input[type="number"].input--smaller, input[type="tel"].input--smaller {
  padding: 5px;
}
/* line 33, ../../scss/elements/_inputs.scss */
input[type="text"].input--inline, input[type="email"].input--inline, input[type="password"].input--inline, textarea.input--inline, select.input--inline, input[type="number"].input--inline, input[type="tel"].input--inline {
  display: inline;
}

/* line 38, ../../scss/elements/_inputs.scss */
label {
  font-size: 12px;
  margin-bottom: 10px;
  display: block;
}

/* line 45, ../../scss/elements/_inputs.scss */
.validation-error::before {
  position: relative;
  top: 16px;
  left: -14px;
  content: '!';
  width: 14px;
  height: 19px;
  border-radius: 100%;
  background: #151515;
  display: inline-block;
  border: 1px solid #f7f5f6;
  margin-right: 8px;
  padding-left: 10px;
  padding-top: 3px;
  color: white;
}

/* line 63, ../../scss/elements/_inputs.scss */
.form-group {
  margin-bottom: 15px;
}
/* line 66, ../../scss/elements/_inputs.scss */
.form-group.pad {
  padding-right: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 74, ../../scss/elements/_inputs.scss */
textarea {
  margin-bottom: 15px;
}

/* line 78, ../../scss/elements/_inputs.scss */
select {
  width: 100%;
  height: 60px;
  padding: 0;
}

/* line 86, ../../scss/elements/_inputs.scss */
.input-extend.input-extend--append input {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 92, ../../scss/elements/_inputs.scss */
.input-extend.input-extend--append .addon {
  background: #666666;
  border: 1px solid #333;
  border-left: 0;
  border-radius: 0 3px 3px 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}
/* line 110, ../../scss/elements/_inputs.scss */
.input-extend.input-extend--prepend input {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
/* line 116, ../../scss/elements/_inputs.scss */
.input-extend.input-extend--prepend .addon {
  background: #666666;
  border: 1px solid #333;
  border-right: 0;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  text-align: left;
}

/* line 136, ../../scss/elements/_inputs.scss */
.input-tooltip {
  position: absolute;
  left: 10px;
  top: 62px;
  width: 280px;
  z-index: 99;
  opacity: 0;
  transition: all 0.3s;
  color: white;
}
/* line 146, ../../scss/elements/_inputs.scss */
.input-tooltip.tooltip--active {
  opacity: 0.8;
}
/* line 149, ../../scss/elements/_inputs.scss */
.input-tooltip.tooltip--active .tooltip {
  opacity: 1;
}
/* line 154, ../../scss/elements/_inputs.scss */
.input-tooltip .tooltip-text {
  background: #505d6d;
  padding: 10px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  top: -8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 1px;
}
/* line 164, ../../scss/elements/_inputs.scss */
.input-tooltip .tooltip-arrow {
  width: 16px;
  height: 16px;
  background: #505d6d;
  margin: 0 auto;
  transform: rotate(-45deg);
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px 1px;
}

/* line 4, ../../scss/elements/_links.scss */
a {
  color: #333;
  transition: all 0.2s;
}
/* line 8, ../../scss/elements/_links.scss */
a:hover {
  color: #1f1f1f;
}

/* line 4, ../../scss/components/_alerts.scss */
.alert {
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 10, ../../scss/components/_alerts.scss */
.alert p {
  line-height: 100%;
  margin-bottom: 0;
}
/* line 16, ../../scss/components/_alerts.scss */
.alert ul li {
  list-style-type: circle;
  margin-left: 18px;
  margin-top: 10px;
}
/* line 23, ../../scss/components/_alerts.scss */
.alert.alert--success {
  color: white;
  background: #7AB709;
}
/* line 27, ../../scss/components/_alerts.scss */
.alert.alert--success a {
  color: white;
  text-decoration: underline;
}
/* line 33, ../../scss/components/_alerts.scss */
.alert.alert--info {
  background: lightblue;
}
/* line 36, ../../scss/components/_alerts.scss */
.alert.alert--info a, .alert.alert--info .fa {
  color: white;
}
/* line 40, ../../scss/components/_alerts.scss */
.alert.alert--info a {
  text-decoration: underline;
}
/* line 45, ../../scss/components/_alerts.scss */
.alert.alert--errors {
  color: #a94442;
  background: #f2dede;
}
/* line 50, ../../scss/components/_alerts.scss */
.alert.alert--less-space {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 4, ../../scss/components/_autocomplete.scss */
.autocomplete {
  position: absolute;
  z-index: 9999;
  background: white;
  border: 1px solid #333;
}
/* line 10, ../../scss/components/_autocomplete.scss */
.autocomplete ul {
  padding: 0;
  margin: 0;
}
/* line 14, ../../scss/components/_autocomplete.scss */
.autocomplete ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 19, ../../scss/components/_autocomplete.scss */
.autocomplete ul li a {
  padding: 15px;
  display: block;
  min-width: 120px;
}
/* line 24, ../../scss/components/_autocomplete.scss */
.autocomplete ul li a:hover {
  color: white;
  background: #333;
}

/* line 4, ../../scss/components/_checkbox.scss */
.checkbox, .radio {
  padding-left: 20px;
}
/* line 7, ../../scss/components/_checkbox.scss */
.checkbox .help, .radio .help {
  padding-left: 54px;
}
/* line 11, ../../scss/components/_checkbox.scss */
.checkbox label, .radio label {
  display: inline-block;
  position: relative;
  padding-left: 54px;
  font-size: 20px;
  padding-top: 0;
}
/* line 18, ../../scss/components/_checkbox.scss */
.checkbox label::before, .radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  left: 0;
  margin-left: -20px;
  border-radius: 3px;
  border: 1px solid #333;
  background-color: #fff;
  text-align: center;
  margin-top: 0;
}
/* line 33, ../../scss/components/_checkbox.scss */
.checkbox label::after, .radio label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
}

/* line 49, ../../scss/components/_checkbox.scss */
.radio label {
  padding-bottom: 20px;
}
/* line 52, ../../scss/components/_checkbox.scss */
.radio label:hover {
  cursor: pointer;
}
/* line 57, ../../scss/components/_checkbox.scss */
.radio input[type="radio"] {
  display: none;
}
/* line 60, ../../scss/components/_checkbox.scss */
.radio input[type="radio"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f111";
  font-size: 32px;
  padding-left: 11px;
  padding-top: 10px;
}

/* line 71, ../../scss/components/_checkbox.scss */
.checkbox input[type="checkbox"] {
  display: none;
}
/* line 74, ../../scss/components/_checkbox.scss */
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
  font-size: 48px;
  padding-left: 3px;
  padding-top: 4px;
}
/* line 82, ../../scss/components/_checkbox.scss */
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
/* line 85, ../../scss/components/_checkbox.scss */
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #ccc;
  cursor: not-allowed;
}
/* line 92, ../../scss/components/_checkbox.scss */
.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}
/* line 96, ../../scss/components/_checkbox.scss */
.checkbox.checkbox-inline {
  margin-top: 0;
}

/* line 102, ../../scss/components/_checkbox.scss */
.checkbox--smaller label, .radio--smaller label {
  font-size: 16px;
  padding-left: 16px;
}
/* line 106, ../../scss/components/_checkbox.scss */
.checkbox--smaller label::before, .radio--smaller label::before {
  width: 24px;
  height: 24px;
  margin-top: -5px;
}
/* line 114, ../../scss/components/_checkbox.scss */
.checkbox--smaller input[type="radio"]:checked + label::after, .checkbox--smaller input[type="checkbox"]:checked + label::after, .radio--smaller input[type="radio"]:checked + label::after, .radio--smaller input[type="checkbox"]:checked + label::after {
  font-size: 20px;
  padding-top: 0;
  margin-top: -1px;
  padding-left: 6px;
}
/* line 122, ../../scss/components/_checkbox.scss */
.checkbox--smaller input[type="checkbox"]:checked + label::after, .radio--smaller input[type="checkbox"]:checked + label::after {
  padding-left: 4px;
}

/* line 4, ../../scss/components/_creditCardForm.scss */
.creditcardform {
  border-radius: 10px;
  padding: 20px 10px;
}
/* line 9, ../../scss/components/_creditCardForm.scss */
.creditcardform .creditcard-inner:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 19, ../../scss/components/_creditCardForm.scss */
.creditcardform .creditcard-number {
  width: 100%;
}
/* line 23, ../../scss/components/_creditCardForm.scss */
.creditcardform .creditcard-expiry {
  width: 50%;
  float: left;
  padding-top: 20px;
}
/* line 28, ../../scss/components/_creditCardForm.scss */
.creditcardform .creditcard-expiry input {
  width: 40%;
  display: inline;
  text-align: center;
}
/* line 35, ../../scss/components/_creditCardForm.scss */
.creditcardform .creditcard-cvc {
  width: 50%;
  float: left;
  padding-top: 20px;
  text-align: right;
}
/* line 41, ../../scss/components/_creditCardForm.scss */
.creditcardform .creditcard-cvc label {
  position: relative;
  left: -42%;
}
/* line 46, ../../scss/components/_creditCardForm.scss */
.creditcardform .creditcard-cvc input {
  width: 50%;
  text-align: center;
  display: inline;
}
@media (max-width: 768px) {
  /* line 46, ../../scss/components/_creditCardForm.scss */
  .creditcardform .creditcard-cvc input {
    width: 50%;
  }
}

/* line 4, ../../scss/components/_loginForm.scss */
.loginform {
  margin: 40px auto;
}
/* line 7, ../../scss/components/_loginForm.scss */
.loginform .social-list {
  border-right: 1px solid #f7f5f6;
}
/* line 10, ../../scss/components/_loginForm.scss */
.loginform .social-list .social-item {
  margin-bottom: 20px;
  width: 95%;
}
/* line 16, ../../scss/components/_loginForm.scss */
.loginform .login-form {
  width: 95%;
  margin: 20px auto;
}

/* line 4, ../../scss/components/_progressBar.scss */
.progress {
  margin-bottom: 20px;
  position: relative;
}
/* line 8, ../../scss/components/_progressBar.scss */
.progress .progress-title {
  margin-bottom: 10px;
}
/* line 12, ../../scss/components/_progressBar.scss */
.progress .progress-bar {
  background: #efefef;
  width: 100%;
  border-radius: 3px;
}
/* line 17, ../../scss/components/_progressBar.scss */
.progress .progress-bar .bar {
  max-width: 100%;
  padding: 15px;
  background: #333;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
/* line 25, ../../scss/components/_progressBar.scss */
.progress .progress-bar p {
  color: white;
  position: absolute;
  top: -11px;
  text-align: center;
  width: 100%;
  height: 0;
}
